body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  a{

  color: white ;
  font-size: 20px;
  font-weight: bold;
  /* background: none; */
  border-radius: none !important;
  padding: 10px;
  width: 20px;
  height: 10px;
  background-color: red;
  transition-duration: .4s;
  border-radius: 5px !important;
}
 a:Hover{
   color: #0D6EFD ;
   font-size: 20px;
   font-weight: bold;
   background: white;
}